@import '@/styles/variables.scss';
.productContainer {
  width: 100%;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .imagesBlock {
    padding: 1rem;
    min-height: 300px;
    .activeImage {
      overflow: hidden;
      width: 100%;
      height: 300px;
      position: relative;
      .image {
        object-fit: contain;
      }
    }
  }

  .descriptionBlock {
    padding: 1rem 0 2rem;
    @media screen and (min-width: 1024px) {
      padding: 1rem;
    }
    .titleBlock {
      display: flex;
      justify-content: space-between;
    }
    .title {
      margin-bottom: 0.5rem;
    }
    .code {
      font-size: 0.7rem;
      padding: 0.25rem 0;
    }
    .description {
      margin: 1rem 0;
    }
  }
}

.childrenBlock {
  border-top: 2rem solid $color_lightgray;
  border-bottom: 2rem solid $color_lightgray;
  padding: 2rem 0;
  .characteristic {
    width: 100%;
    // margin: 2rem 0;
    list-style: none;
    li {
      padding: 0.25rem;
      border-bottom: $border;
    }
  }

  .reviewsBlock {
    .title {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;

      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-end;
      }
    }
    .ratingTitle {
      width: fit-content;
      height: fit-content;
      width: 100%;
      border: $border;
      margin-top: 1rem;
      padding: 1rem 1rem 0.5rem;
      background-color: rgb(229, 231, 235, 0.1);
      border-radius: $br-small;
      @media screen and (min-width: 1024px) {
        margin-top: 0;
        width: calc(30% - 1rem);
        height: 305px;
      }
      .text {
        font-size: 0.85rem;
        font-weight: 500;
      }
      .content {
        display: flex;
        gap: 0.5rem;
        align-items: flex-end;
        .value {
          font-size: 50px;
          color: $color_green;
          display: block;
        }
        .rating {
          padding: 0.5rem 0;
          font-size: 0.85rem;
          font-weight: 500;
        }
      }
    }
    .reviews {
      margin-top: 1rem;
      max-height: 1000px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0.4rem;
      }
      &::-webkit-scrollbar-track {
        background-color: $color_lightgray;
        border-radius: $br-small;
      }
      &::-webkit-scrollbar-thumb {
        background: $linear-gradient-green;
        border-radius: $br-small;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $linear-gradient-green-reverce;
      }
    }
  }
}
