@import '@/styles/variables.scss';
.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
  color: $color_gray;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 2rem;
    margin: 2rem 0;
  }
  strong {
    color: $color_green;
  }
}
