@import '@/styles/variables.scss';

.catalogBlockContainer {
 // position: relative;
  display: block;
  // position: relative;
  > button {
    padding: 0.35rem 3rem;
    gap: .5rem;
  }

  .block {
    position: absolute;
    width: 100vw;
    left: -2rem;
    top: 4rem;
    z-index: 20;
    background-color: $color_white;
    border-radius: $br-small;
    padding: 1rem 5rem;
    box-shadow: $shadow-blue-gray-a;
    color: $color_gray;
    font-size: 0.8rem;

    ul {
      list-style: none;
      li {
        width: 300px;
        a {
          display: block;
          padding: 1rem;
          transition: $transition;
          &:hover {
            background-color: $color_lightgray;
          }
        }
      }
    }
    .info {
      padding: 0.5rem 0.75rem 0;
      p {
        margin-top: 0.5rem;
      }
    }
  }
}
