@import '@/styles/variables.scss';
.container{
    display: flex;
    align-items: center;
    gap: .5rem;
    &.margin{
        margin-bottom: 1rem;
    }
    .star{
        color: $color_green;
    }
}