@import './mixins';
@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  background-color: $color_white;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.content {
  max-width: 1900px;
  padding: 0 1rem;
  margin: 0 auto;
}

.noScroll {
  overflow: hidden;
}

.full {
  //////////////////////////////////
  height: 500px;
  width: 100%;
  border: 1px solid black;
}

//swiper
.swiper-pagination-bullet{
  width: 2rem;
  height: .5rem;
  border-radius: 0;
  margin: 0 0.1rem;
  background-color: $color_blue-gray;
}
.swiper-pagination-bullet-active {
  background-color: $color_green;
}
.swiper-lazy-preloader{
  color: $color_green;
}
.swiper{
  color: $color_green;
}

.preloader{
  color: $color_green;
 // border: 1px solid $color_green;
}