$color_black: #000000;
$color_white: #ffffff;
$color-blue-gray: #2c3946;//#2c3946
$color-blue-gray-light: #3f4e5d;//#3f4e5d
$color_pink: #FF8F6C;
$color_pink-light: rgba(255,143,108,.5);
$color_link: #3b6d9a;


$color_lightgray: #e5e7eb;

$transition: all ease .3s;
$border: 1px solid $color_lightgray; 
$br-small: 4px;
$br-medium: 8px;
$br-large: 16px;





$color_blue: #9db0b0;
$color_gray: #2d383c;
$color_brown: #a68066;

//$shadow-blue-gray-n: 0px 2px 2px rgba(43,56,69,5%),0px 0px 2px rgba(43,56,69,6%),0px 1px 3px rgba(43,56,69,5%);
$shadow-blue-gray-n: 0px 2px 2px rgba(64, 79, 94, .05),0px 0px 2px rgba(64, 79, 94,.06),0px 1px 4px rgba(64, 79, 94, .08);
$shadow-blue-gray-a: 0px 2px 2px rgba(64, 79, 94, .2),0px 0px 2px rgba(64, 79, 94,.3),0px 1px 4px rgba(64, 79, 94, .5);
/*

:root {
    --color-icons: rgba(63,78,93,60%);
    --color-bg-hover: rgba(63,78,93,5%);
    --color-bg-pressed: rgba(63,78,93,16%);
    --color-bg-disable: rgba(63,78,93,2%);
    --color-header: #3f4e5d;
    --color-footer: #2c3946;
    --color-orange: #ff680a;
    --color-orange-lite: #ff8637;
    --color-link: #3b6d9a;
    --color-link-lite: #80c3ff;
    --color-error: #f30;
    --color-success: #57ae00;
    --color-yellow: #ffc107;
    --color-red: red;
    --color-black: #000;
    --color-black-text: rgba(0,0,0,87%);
    --color-black-text-disable: rgba(0,0,0,35%);
    --color-gray-pagination: rgba(0,0,0,12%);
    --color-gray-text: rgba(0,0,0,54%);
    --color-gray-border: rgba(0,0,0,12%);
    --color-gray-bg: #edeff2;
    --color-gray-bg-hover: #e8eaed;
    --color-gray-border-hover: rgba(0,0,0,22%);
    --color-lite-gray-divider: rgba(0,0,0,6%);
    --color-shadow: #001351;
    --color-tooltip: rgba(3,2,24,70%);
    --color-white: #fff;
    --color-white-button: hsla(0,0%,100%,0.8);
    --color-chips-enable: rgba(23,60,97,6%);
    --color-chips-hover: rgba(23,60,97,14%);
    --color-chips-focused: rgba(23,60,97,16%);
    --color-chips-pressed: rgba(23,60,97,18%);
    --color-chips-disabled: rgba(23,60,97,2%);
    --color-favorite: #ff2c55;
    --shadow-1dp: 0px 2px 2px rgba(0,8,29,5%),0px 0px 2px rgba(0,8,29,6%),0px 1px 3px rgba(0,8,29,8%);
    --shadow-2dp: 0px 3px 4px rgba(0,8,29,5%),0px 2px 4px rgba(0,8,29,6%),0px 1px 5px rgba(0,8,29,8%);
    --shadow-3dp: 0px 3px 5px rgba(0,8,29,5%),0px 3px 4px rgba(0,8,29,6%),0px 2px 5px rgba(0,8,29,8%);
    --shadow-4dp: 0px 4px 5px rgba(0,8,29,5%),0px 3px 4px rgba(0,8,29,6%),0px 2px 6px rgba(0,8,29,8%);
    --shadow-5dp: 0px 6px 8px rgba(0,8,29,5%),0px 3px 10px rgba(0,8,29,6%),0px 3px 5px rgba(0,8,29,8%);
    --shadow-6dp: 0px 8px 10px rgba(0,8,29,5%),0px 3px 14px rgba(0,8,29,6%),0px 4px 5px rgba(0,8,29,8%);
    --shadow-7dp: 0px 9px 12px rgba(0,8,29,5%),0px 3px 16px rgba(0,8,29,6%),0px 5px 6px rgba(0,8,29,8%);
    --shadow-8dp: 0px 12px 17px rgba(0,8,29,5%),0px 5px 22px rgba(0,8,29,6%),0px 7px 8px rgba(0,8,29,8%);



*/


//
////#b8cbcd голубий
//
//rgb(184,203,205) коричневий
//#9db0b0 - блакитно-сірий топ +






