.firstBlock{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background:
    url("/bear-left.png") left / auto 55% no-repeat,
    url("/bear-right.png") right/ auto 85% no-repeat,
    linear-gradient(
      90deg,
      rgba(183, 218, 229, 1) 0%,
      rgba(228, 200, 180, 1) 100%
    );
}