@import '@/styles/variables.scss';
.productCard {
  position: relative;
  padding: 1rem;
  overflow: hidden;
  box-shadow: $shadow-blue-gray-n;
  transition: $transition;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .imageContainer {
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
    .image {
      object-fit: contain;
    }
  }
  .description {
    height: 100px;
    padding: 1rem 0;
    color: $color-blue-gray;
    .name {
      display: block;
      padding-top: 0.2rem;
      color: $color-green;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
  .priceblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color_white;
    .price {
      font-weight: 500;
      font-size: 1.1rem;

      color: $color-blue-gray;
    }
  }

  .favorite {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $color-green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.9rem;
    height: 1.9rem;
    transition: all 0.2s ease-in;
    background-color: transparent;
    backdrop-filter: blur(10);
  }
  .favorite:hover {
    transform: scale(1.1);
    box-shadow: $shadow-blue-gray-n;
  }
}
.productCard:hover {
  box-shadow: $shadow-blue-gray-a;
}

