@import '@/styles/variables.scss';
.productCard {
  position: relative;
  padding: 1rem;
  overflow: hidden;
  box-shadow: $shadow-blue-gray-n;
  transition: $transition;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $br-small;
  .imageContainer {
    overflow: hidden;
    margin: 2rem 1rem 1rem;
    height: 250px;
    position: relative;
    .image {
      object-fit: contain;
    }
  }
  .description {
   /// display: grid;
   // grid-template-rows: auto;
    color: $color-blue-gray;
    .type{
      font-size: 0.85rem;
      font-weight: 700;
      height: 50px;
    }
    .name {
      display: block;
      margin: 0.25rem 0 0.25rem;
      color: $color-green;
      font-size: 0.9rem;
      font-weight: 700;
      height: 50px;
    }
  }
  .priceblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color_white;
    .price {
      font-weight: 500;
      font-size: 1.1rem;

      color: $color-blue-gray;
    }
  }
  .favorite {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.productCard:hover {
  box-shadow: $shadow-blue-gray-a;
}
