@import '@/styles/variables.scss';
.button {
  color: inherit;
  background-color: $color_red;
  padding: .35rem .5rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  transition: $transition;
  display: flex;
  align-items: center;
  .icon {
    margin-right: 0.5rem;
  }
  svg{
    transition: $transition;
  }
}
.button:hover{

 box-shadow: $shadow-blue-gray-n;
// box-shadow: $shadow-blue-gray-a;
 
}
.button:hover svg{
  transform: scale(1.1);
 }
