@import '@/styles/variables.scss';

.header2 {
  //position: relative;
  z-index: 10;
  background-color: $color_green;
  color: $color_white;
  transition: $transition;
  padding: 1rem 0;
  &.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    @media screen and (min-width: 1024px) {
      border-bottom: 1px solid $color_lightgray;
    }
  }

  @media screen and (min-width: 1024px) {
    border-bottom: 1px solid $color_lightgray;
    background-color: $color_white;
    color: $color_gray;
  }
  //кнопка мобільного меню
  .mobMenuButton {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $color_white;
    transition: $transition;
    border: 1px solid $color_white;
    border-radius: $br_small;
    @media screen and (min-width: 768px) {
      padding: 0.5rem 2rem;
    }
    :hover {
      box-shadow: $shadow-blue-gray-n;
      svg {
        transform: scale(1.1);
      }
    }
  }

  .content {
   // z-index: 20;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      display: block;
      width: 4rem;
      //height: 2rem;
      z-index: 50;
      // background-image: url('/logo.png');
      // background-position: center;
      // background-size: contain;
      // background-repeat: no-repeat;
    }

    .hide {
      display: none;
    }
    .mobLogo {
      z-index: 10;
      position: absolute;
      left: 50vw;
      transform: translate(-50%);
    }

    .buttonsIcons {
      //z-index: 20;
      display: flex;
      align-items: center;
      > :first-child,
      > :nth-child(2) {
        display: none;
      }
      > span {
        display: inline-block;
        background-color: $color_white;
        width: 1px;
        height: 2rem;
        margin: 0 0.2rem;
      }
      > button {
        &:hover {
          background-color: transparent;
        }
      }

      @media screen and (min-width: 768px) {
        > :first-child,
        > :nth-child(2) {
          display: block;
        }
      }
      @media screen and (min-width: 1024px) {
        > button {
          margin-left: 1rem;
        }
        .border {
          display: none;
        }
      }
    }
  }
}
