@import '@/styles/variables.scss';

.fixedHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header2 {
  color: $color_white;
  background-color: $color_black; 
  transition: $transition;
  height: 3rem;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: block;
      //width: 4rem;
      //height: 2rem;
      // background-image: url('/logo.png');
      // background-position: center;
      // background-size: contain;
      // background-repeat: no-repeat;
    }
    .hide {
      display: none;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .listItem {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 0 0.5rem;
        color: $color_white;
        transition: $transition;
        &:hover{
          background-color: $color-blue-gray;//$color_green;
        }
      }
    }
    .buttonsIcons {
      display: flex;
    }
  }
}
