@import '@/styles/variables.scss';
.header1 {
  background-color: $color_white;
  color: $color_black;
  padding: 0.2rem 0;
  font-size: 0.9rem;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .phones {
      display: flex;
    }
    .link,
    button {
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem 0.5rem;
      transition: $transition;
      border-radius: $br-small;
      &:first-child {
        margin-right: 1rem;
      }
    }
    button {
      margin-left: 2rem;
    }
  }
}
