@import '@/styles/variables.scss';

.header1 {
  z-index: 50;
  background-color: $color_green;
  color: $color_white;
  font-size: 0.9rem;
  .content {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .listItem {
      text-align: center;
      padding: 0 1rem;
      transition: $transition;
    }
  }

  .user {
    height: 100%;
    padding: 0.25rem 0.5rem 0.25rem 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    svg {
      position: absolute;
      left: 0;
      bottom: 0.1rem;
    }
    span {
      display: inline-block;
    }
  }
}
