@import '@/styles/variables.scss';

.searchBlockContainer {
  z-index: 10;
  position: absolute;
  left: -2rem;
  top: 3rem;
  width: 100vw;
  background-color: $color_white;
  border-top: $border;
  border-bottom: $border;
  padding: 1rem;
  opacity: 0;
  transition: opacity linear .5s;
  transform: translatex(100%);//виправити
  &.visible{
   transform: translateY(0);
   opacity: 1;
  }
}

.block {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  >button{
    color: $color_gray;
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);
  //  top: .3rem;
  }
  form{
    width: 50vw;
    position: relative;
    margin: 0 auto;
    > svg {
      background-color: transparent;
      position: absolute;
      right: 1rem;
      top: .5rem;
      color: $color_lightgray;
      &.close{
        cursor: pointer;
        color: $color_gray;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    border-radius: $br-small;
  }
  .input {
    background-color: $color_white;
    font-size: 1.2rem;
    color: $color_gray;
    height: 2.5rem;
    width: 50vw;
    padding: 0.5rem;
    border-radius: $br-small;
    border: 2px solid transparent;
    box-shadow: $shadow-blue-gray-a;
    &::placeholder {
      color: $color_gray;
    }
    &:focus {
      border-color: transparent;
      outline: none;
    }
  }

}

//поле виведення результатів пошуку
.searchList {
  width: 50vw;
  margin: 0 auto;
  z-index: 20;
  color: $color_gray;
  background-color: $color_white;
  padding: 1rem;
 // border-radius: $br-small;
 // box-shadow: $shadow-blue-gray-a;
}
