@import '@/styles/variables.scss';

.searchBlockContainer {
  position: relative;
  display: block;
  height: 3rem;
}

.block {
  z-index: 10 !important;
  width: 460px;
 // position: absolute;
  //Блок з інпут
  .search {
    z-index: 10;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    > svg {
      z-index: 15;
      cursor: pointer;
    }
    @media screen and (min-width: 1024px) {
      border-radius: $br-small;
    }
    .input {
      background-color: $color_white;
      color: $color_gray;
      height: 2rem;
      width: 410px;
      padding: 0.2rem;
      border-radius: $br-small;
      border: 2px solid transparent;
      box-shadow: $shadow-blue-gray-a;
      &::placeholder {
        color: $color_gray;
      }
      &:focus {
        border-color: transparent;
        outline: none;
      }
    }
    > svg {
      background-color: transparent;
      position: absolute;
      right: 3rem;
      color: $color_gray;
      cursor: pointer;
    }
  }
}

//поле виведення результатів пошуку
.searchList {
  position: absolute;
  top: 50px;
  right: 42px;
  z-index: 50;
  width: 410px;
  color: $color_gray;
  background-color: $color_white;
  padding: 1rem;
  border-radius: $br-small;
  box-shadow: $shadow-blue-gray-a;
}
