@import '@/styles/variables.scss';
.badge {
  font-size: .8rem;
  position: absolute;
  top: .5rem;
  left: .5rem;
  padding: .5rem;
  color: $color_white;
  font-size: 500;
}
.recomended{
  background-color: $color-blue-gray;
}
.sale{
  background-color: $color-red;
}
.new{
  background-color: $color-green;
}
