@import '@/styles/variables.scss';
.reviewBlock {
  font-size: 0.7rem;
  margin: .5rem 0;
  display: flex;
  align-items: center;
  .reviewsCount {
    padding-left: 0.5rem;
  }
  
  .reviewsPlaseholder {
    display: block;
    height: 1rem;
   // padding-bottom: 0.4rem;
  }
  
}
